body{
  margin:0;
}
nav{
  background-color: darkblue;
  width: 33%;
  height: 100%;
  position: fixed;
}
#contentBox1{
  margin: 2px;
  grid-area: box1;
  background-color: blue
}
#contentBox2{
  margin:2px;
  grid-area: box2;
  background-color: lightblue;
}
#contentBox3{
  margin:2px;
  grid-area: box3;
  background-color: blue;
}
#contentBox4{
  margin:2px;
  grid-area: box4;
  background-color: lightblue;
}
#contentBox5{
  margin:2px;
  grid-area: box5;
  background-color: blue;
}
#contentBox6{
  margin:2px;
  grid-area: box6;
  background-color: lightblue;
}
#contentWrapper{
  width:66%;
  height: 1080px;
  margin-left: 34%;
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
  "box1 box2"
  "box3 box4"
  "box5 box6";

}
@media screen and (max-width : 600px){
  nav{
    margin-left: 2px;
    margin-right: 2px;
    top:0;
    height:10%;
    width: 100%;
  }
  #contentWrapper{
    width:100%;
    margin-top: 75px;
    margin-left: 0;
  }
}
