  body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background-image: url(../img/background.jpg);
    background-size: cover;
    height: 100%;
    width: 100vw;
  }
  header{
    background-color: rgba(30, 30, 30, 0.95);
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
  }

  .startInfo{
    background-color: rgba(30, 30, 30, 0.85);
    width: 90vw;
    height: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255);
    text-align: center;
  }
  #wrapper{
    position: fixed;
    margin-top: 5rem;
    margin-left: 3vw;
    margin-right: 7vw;
    width: 90vw;
    height: 78vh;
    overflow-y: scroll;
  }
  nav{
    background-color: rgba(30, 30, 30, 0.95);
    height: 4rem;
    width: 100%;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
  }
  .menuItem{
    margin: auto;
    justify-content: space-around;
  }
  .contact-info{
    background-color: rgba(90, 90, 90);
    height: 50vh;
    width: 92vw;
    position: fixed;
    left: 4vw;
    right: 4vw;
    text-align: center;
    top: 225vh;
    transition: 0.3s;
    overflow-y:scroll;
  }
  .contact-info.active{
    top: 25vh;
  }
  .about-info{
    background-color: rgba(90, 90, 90);
    height: 50vh;
    width: 92vw;
    position: fixed;
    left: 4vw;
    right: 4vw;
    text-align: center;
    top: 225vh;
    transition: 0.3s;
    overflow-y:scroll;
  }
  .about-info.active{
    top: 25vh;
  }
  .support-info{
    background-color: rgba(90, 90, 90);
    height: 50vh;
    width: 92vw;
    position: fixed;
    left: 4vw;
    right: 4vw;
    text-align: center;
    top: 225vh;
    transition: 0.3s;
    overflow-y:scroll;
  }
  .support-info.active{
    top: 25vh;
  }
  .price-info{
    background-color: rgba(90, 90, 90);
    height: 50vh;
    width: 92vw;
    position: fixed;
    left: 4vw;
    right: 4vw;
    text-align: center;
    top: 225vh;
    transition: 0.3s;
    overflow-y:scroll;

  }
  .price-info.active{
    top: 25vh;
  }
